name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Version Info
      # Version info is useful since clippy results will differ
      run: rustup --version
    - name: Build
      run: cargo build --verbose
    - name: Test Unit
      run: cargo test --verbose
    - name: Clippy
      run: cargo clippy --verbose -- -D warnings
      continue-on-error: true

    # Auditing will check that dependencies are up to date, but it takes a non-trivial time to download and build
    #- name: Install cargo-audit
    #  run: cargo install cargo-audit
    #- name: Audit
    #  run: cargo audit

    - name: Integration Test
      working-directory: ${{ github.workspace }}
      run: ./test.py
