name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose
    - name: Format
      run: cargo fmt -- --check
    - name: Clippy
      # should be pinned to the single version via rust-toolchain.toml
      run: cargo clippy --verbose -- -D warnings
    - name: Test Unit
      run: cargo test --verbose
    - name: Integration Test
      working-directory: ${{ github.workspace }}
      run: ./test.py

    # Auditing will check that dependencies are up to date, but it takes a non-trivial time to download and build
    #- name: Install cargo-audit
    #  run: cargo install cargo-audit
    #- name: Audit
    #  run: cargo audit
