name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    # The setup-rust action installs rustfmt and clippy as per the rust-toolchain.toml.
    # The version is pinned there (update when necessary), so we should get consistent results across all users.
    - uses: moonrepo/setup-rust@v1
    - name: Build
      run: cargo build --verbose
    - name: Format
      run: cargo fmt --all --check
    - name: Clippy
      run: cargo clippy --verbose -- -D warnings
    - name: Test Unit
      run: cargo test --verbose
    - name: Integration Test
      working-directory: ${{ github.workspace }}
      run: ./test.py

    # Auditing will check that dependencies are up to date, but it takes a non-trivial time to download and build
    #- name: Install cargo-audit
    #  run: cargo install cargo-audit
    #- name: Audit
    #  run: cargo audit
